.login {
    text-align: center;
    margin-top: 50px;
}

#login{
    margin-bottom: -100px !important;
}

#login-username {
    text-align: center;
    padding: 12px 20px;
    margin-top: 12px;
    width: 253px;
    margin-bottom: 20px;
}

#login-password {
    text-align: center;
    padding: 12px 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 253px;
}

.register-form{
    text-align: center;
}

.register-input-form{
    padding: 12px 20px;
    margin: 8px 0;
    width: 253px;
    text-align: center;
}

.message {
    background: #7F9B47;
    color: #fff;
    margin-left: 300px;
    margin-top: -201px;
    padding: 35px;
    position: absolute;
    text-align: center;
    width: 20%;
    z-index: -1;
}

.message-error {
    background: #E84E36 !important;
    color: #fff;
    margin-left: 300px;
    margin-top: -201px;
    padding: 35px;
    position: absolute;
    text-align: center;
    width: 20%;
    z-index: -1;
}

.message:empty {
    visibility: hidden;
}

.symbol {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.registration {
    margin-top: 50px;
    text-align: center;
}

#submit-button{
    width: 253px;
    border: none;
    text-decoration: none;
    padding: 15px 0px;
    transition-duration: 0.5s;
    margin: 0 auto;
}

#submit-button:hover {
    font-size: 20px;
    }

.register-label {
    width: 30%;
}

.income-class{
    padding: 6px;
}

.category-select{
    font-family: Montserrat;
    background-color: teal;
    border: none;
    padding: 8px 16px;

}

.select-items{
    background-color: teal;
    border: none;
    margin: 8px 16px;
    padding: 8px 16px;
}

.actual-spend-div, .expense-div{
    padding: 8px 0px;
}